.headerContainer {
  display: flex;
  justify-content: center;
  height: 6rem;
}

.headerContent {
  display: flex;
  min-width: 70rem;
  align-items: center;
  justify-content: space-evenly;
  
  img {
    width: 15rem;
  }

  @media (max-width: 1080px) {
    align-items: center;
    justify-content: center;
    min-width: auto;
  }
}

.spaceInHeader{
  width: 15rem;
}