.headerContainer {
  display: flex;
  justify-content: center;
  height: 6rem;
}

.headerContent {
  display: flex;
  max-width: 70rem;
  align-items: center;
  justify-content: space-between;

  img {
    width: 15rem;
  }
}

.spaceInHeader{
  width: 15rem;
}